<h1>用户<%= user_id %>的动态数据表 -- <%= name %></h1><hr>
<% _.each(OpeConst.DynamicUserTables, function(key) { %>
    <a href="/get_dynamic_data?name=<%= key %>&user_id=<%= user_id %>"><%= key %></a>
<% }); %>
<hr>
<% if(!_.isEmpty(results)) {%>
<!--    <% _.each(results, function(result) { %>
        <%= result %>
        <br />
        <% }); %>-->
 <table border=1>
        <tr>
            <% _.each(_.keys(results[0]['_doc']).reverse(), function(key) { %>
            <th><%= key %></th>
            <% }); %>
        </tr>
       <% _.each(results, function(result) { %>
        <tr>
            <% _.each(_.keys(result['_doc']).reverse(), function(key) { %>
            <td><%= result['_doc'][key] %></td>
            <% }); %>
        </tr>
        <% }); %>
    </table>

<% } %>
<hr>
<% include user_footer %>


